.trigger-modal {
  cursor: pointer;
}
.span-invalid {
  margin-left: inherit;
}

.btn-toggle-password {
  margin-left: -40px;
  outline: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.input-form {
  background-color: var(--bg-secondary);
  border: 0;
  outline: none;

  &:focus {
    outline: none;
    border: 0;
    background: var(--bg-tertiary);
    box-shadow: 0 0 0 0.15rem var(--tertiary-color) !important;
  }
}

#alertLogin {
  --bs-alert-padding-y: 0.5rem !important;
}

#alertRegister {
  --bs-alert-margin-bottom: 0 !important;
}
